body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-modal-footer > .ant-btn + .ant-btn {
    margin-inline-start: 0 !important;
    margin-top: 5px !important;
}

.ant-modal-confirm-btns .ant-btn + .ant-btn {
    margin-inline-start: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 5px !important;
}

button {
    height: 48px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}