// src/features/admin-order-management/components/OrderDetailModal.module.scss
@import "../../../styles/variables";

.orderDetailWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  background: #fafafa;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #eee;
}

.cardTitle {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 15px;
  color: #222;
  border-left: 3px solid #1677ff;
  padding-left: 8px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 16px;

  div {
    font-size: 14px;
    color: #444;
  }
}

/* Bảng sản phẩm */
.productTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
  text-align: center;

  th, td {
    padding: 8px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
  }

  th {
    background: #f5f5f5;
    font-weight: 600;
  }
}

.orderStatus {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}