.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.previewGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.imageCard {
  position: relative;
  width: 110px;
  height: 110px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: visible;
  transition: 0.2s ease;

  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  &:hover {
    border-color: #1890ff;
  }
}

.menuIcon {
  position: absolute;
  top: 6px;
  right: 6px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20%;
  padding: 4px;
  cursor: pointer;
  transition: 0.2s;
  color: #fff;

  .menuIcon {
    position: absolute;
    top: 6px;
    right: 6px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20%;
    padding: 4px;
    cursor: pointer;
    transition: 0.2s;
    color: #fff;

    &:hover,
    &.active {
      background: white;
      color: #000000;
    }
  }
}

.menuDropdown {
  position: absolute;
  top: 30px;
  left: 85px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  overflow: hidden;
  z-index: 999;
  display: flex;
  flex-direction: column;
  min-width: 160px;

  button {
    padding: 8px 12px;
    border: none;
    background: white;
    text-align: left;
    cursor: pointer;
    font-size: 13px;
    transition: 0.2s;

    &:hover {
      background: #f0f0f0;
    }
  }
}

.defaultBadge {
  position: absolute;
  bottom: 6px;
  left: 6px;
  background: #0089e1;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
}

.uploadZone {
  border: 2px dashed #aaa;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.2s;
}

.uploadZone:hover {
  border-color: #1890ff;
}

.uploadZone p {
  margin: 0;
  color: #555;
  font-weight: bold;
}


.uploadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  border-radius: 6px
}
