$primary-color: #0077b6;
$primary-dark-color: #006191;
$secondary-color: #d1d1f7;
$white-color: #fff;
$text-color: #333;
$dark-gray-color: #c6c4c4;
$light-gray-color: #f2f2f2;
$danger-color: #dc3545;
$success-color: #28a745;
$warning-color: #e69f00;
$text-muted-color: #868e96;

// Auth
$input-border-color: #ddd;
$input-focus-border-color: $primary-color;
$background-gradient-start: #f0f2f5;
$background-gradient-end: #d9e2f5;
$card-background: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.1);
$divider-color: #ccc;

// Product List
$discount-color: #e53935;
$base-price-color: #888;


